In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/Agablue-red/Machine-Learning/master/data/CONVICTIONSUMMARY_raw_data.csv"

In [3]:
df = pd.read_csv(url, sep='|', index_col=False, names=['info', 'number', 'abbr', 'sector', 'status', 'value'])
df

,info,number,abbr,sector,status,value
0,10:01:54.391 77425 [77425-thread-2] INFO a.s....,GN63J3-R,SU,Energy Minerals,MERGED,0.953727
1,10:01:54.391 77425 [77425-thread-2] INFO a.s....,H5490W-R,GGG,Producer Manufacturing,MERGED,0.952753
2,10:01:54.391 77425 [77425-thread-2] INFO a.s....,V0622Q-R,WGR,Energy Minerals,MERGED,0.947634
3,10:01:54.391 77425 [77425-thread-2] INFO a.s....,GSWXLY-R,CWT,Utilities,MERGED,0.934181
4,10:01:54.391 77425 [77425-thread-2] INFO a.s....,VFT0VQ-R,BLL,Process Industries,MERGED,0.922862
...,...,...,...,...,...,...
75231,10:02:13.557 77425 [77425-thread-2] INFO a.s....,PN68RD-R,ESE,Electronic Technology,MOMENTUM,0.323364
75232,10:02:13.557 77425 [77425-thread-2] INFO a.s....,LN3P8B-R,TPR,Retail Trade,MOMENTUM,0.010835
75233,10:02:13.557 77425 [77425-thread-2] INFO a.s....,WRTBJT-R,URS,Industrial Services,MOMENTUM,0.000000
75234,10:02:13.557 77425 [77425-thread-2] INFO a.s....,W0Z2R4-R,FUL,Process Industries,MOMENTUM,0.000000
75235,10:02:13.557 77425 [77425-thread-2] INFO a.s....,NaN,NaN,NaN,NaN,NaN

In [4]:
#rozbicie kolumny info
df[['1','2','3','4','5','6','7','8','9','10','11']] = df['info'].str.split(' ',expand=True)

In [5]:
#usuniecie niepotrzebnych kolumn
df = df.drop(['info','2','3','4','5','6','7','8','9','11'], axis=1)

In [6]:
#zmiana nazw kolumn
df = df.rename(columns={'1':'time', '10':'date'})

In [7]:
# usuniecie indeksu pustego
df = df.drop(df.index[75235])

In [8]:
# zmiana kolejnosci kolummn
df = df[['date', 'time', 'number', 'abbr', 'sector', 'status', 'value']]

In [9]:
df.head(5)

,date,time,number,abbr,sector,status,value
0,2004-02-11,10:01:54.391,GN63J3-R,SU,Energy Minerals,MERGED,0.953727
1,2004-02-11,10:01:54.391,H5490W-R,GGG,Producer Manufacturing,MERGED,0.952753
2,2004-02-11,10:01:54.391,V0622Q-R,WGR,Energy Minerals,MERGED,0.947634
3,2004-02-11,10:01:54.391,GSWXLY-R,CWT,Utilities,MERGED,0.934181
4,2004-02-11,10:01:54.391,VFT0VQ-R,BLL,Process Industries,MERGED,0.922862

In [10]:
print('Shape of raw dataset: {}'.format(df.shape))

Shape of raw dataset: (75235, 7)

In [11]:
df.isnull().sum()

date      0
time      0
number    0
abbr      0
sector    0
status    0
value     0
dtype: int64

In [12]:
df.duplicated().sum()

0

In [13]:
df.status.unique()

array([' MERGED ', ' GROWTH ', ' VALUE ', ' MOMENTUM ', ' VOLATILITY '],
      dtype=object)

In [14]:
df.number.unique()

array([' GN63J3-R ', ' H5490W-R ', ' V0622Q-R ', ..., ' HR9BX9-R ',
       ' JJ80B8-R ', ' S7Q72S-R '], dtype=object)

In [15]:
df.abbr.unique()

array([' SU ', ' GGG ', ' WGR ', ..., ' GBX ', ' OVTI ', ' SNCAF '],
      dtype=object)

In [16]:
df.sector.unique()

array([' Energy Minerals ', ' Producer Manufacturing ', ' Utilities ',
       ' Process Industries ', ' Consumer Services ', ' Transportation ',
       ' Retail Trade ', ' Finance ', ' Health Technology ',
       ' Miscellaneous ', ' Non-Energy Minerals ',
       ' Distribution Services ', ' Consumer Non-Durables ',
       ' Commercial Services ', ' Technology Services ',
       ' Consumer Durables ', ' Health Services ',
       ' Electronic Technology ', ' Industrial Services ',
       ' Communications '], dtype=object)

In [17]:
df.value.unique()

array([0.95372705, 0.9527531 , 0.94763414, ..., 0.2217868 , 0.0122281 ,
       0.03434746])

In [18]:
df.value = df.value.astype('str')

In [19]:
df['status'] = df['status'].str.strip()
df['number'] = df['number'].str.strip()
df['abbr'] = df['abbr'].str.strip()
df['sector'] = df['sector'].str.strip()
df['value'] = df['value'].str.strip()

In [20]:
df.value = df.value.astype('float64')

In [21]:
df["date"] = pd.to_datetime(df["date"])

In [22]:
df.dtypes

date      datetime64[ns]
time              object
number            object
abbr              object
sector            object
status            object
value            float64
dtype: object

In [23]:
df = df[df["status"] == "MERGED"]

In [24]:
print('Shape of clean dataset : {}'.format(df.shape))

Shape of clean dataset : (18705, 7)

In [25]:
df.head(5)

,date,time,number,abbr,sector,status,value
0,2004-02-11,10:01:54.391,GN63J3-R,SU,Energy Minerals,MERGED,0.953727
1,2004-02-11,10:01:54.391,H5490W-R,GGG,Producer Manufacturing,MERGED,0.952753
2,2004-02-11,10:01:54.391,V0622Q-R,WGR,Energy Minerals,MERGED,0.947634
3,2004-02-11,10:01:54.391,GSWXLY-R,CWT,Utilities,MERGED,0.934181
4,2004-02-11,10:01:54.391,VFT0VQ-R,BLL,Process Industries,MERGED,0.922862

In [26]:
from google.colab import files

df.to_csv('CONVICTIONSUMMARY.csv', index=False) 
files.download('CONVICTIONSUMMARY.csv')