In [1]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 7.2 MB/s
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.5 MB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70

In [2]:
import pandas as pd
import numpy as np
import yfinance as yf

In [3]:
url = "https://raw.githubusercontent.com/Agablue-red/Machine-Learning/master/data/CONVICTIONLISTTOPN_BSLD-408.csv"

In [4]:
df = pd.read_csv(url, index_col=False, names=['info', 'date', 'symbol', 'symbol2', 'sector', 'number', 'score'])
df

,info,date,symbol,symbol2,sector,number,score
0,10:01:54.481 77425 [77425-thread-2] INFO a.s....,2004-02-11,SU,SU,Energy Minerals,GN63J3-R,0.953727
1,10:01:54.481 77425 [77425-thread-2] INFO a.s....,2004-02-11,GGG,GGG,Producer Manufacturing,H5490W-R,0.952753
2,10:01:54.481 77425 [77425-thread-2] INFO a.s....,2004-02-11,WGR,WGR,Energy Minerals,V0622Q-R,0.947634
3,10:01:54.481 77425 [77425-thread-2] INFO a.s....,2004-02-11,CWT,CWT,Utilities,GSWXLY-R,0.934181
4,10:01:54.481 77425 [77425-thread-2] INFO a.s....,2004-02-11,BLL,BLL,Process Industries,VFT0VQ-R,0.922862
...,...,...,...,...,...,...,...
37355,10:27:03.049 77425 [77425-thread-2] INFO a.s....,2022-02-09,PEP,PEP,Consumer Non-Durables,PPCTFP-R,0.701507
37356,10:27:03.049 77425 [77425-thread-2] INFO a.s....,2022-02-09,SSNC,SSNC,Technology Services,G92RX2-R,0.701123
37357,10:27:03.049 77425 [77425-thread-2] INFO a.s....,2022-02-09,GEF,GEF,Process Industries,MPX0N4-R,0.697954
37358,10:27:03.049 77425 [77425-thread-2] INFO a.s....,2022-02-09,DPZ,DPZ,Consumer Services,F05QG0-R,0.697741
37359,10:27:03.049 77425 [77425-thread-2] INFO a.s....,2022-02-09,LIFZF,LIFZF,Non-Energy Minerals,Q404Y1-R,0.695644

In [5]:
#usuniecie niepotrzebnych kolumn
df = df.drop(['info','symbol2','number'], axis=1)

In [6]:
#konwertuj wartosci kolumny date na typ DATETIME
df['date'] = pd.to_datetime(df['date'])
df = df.set_index('date')

In [7]:
df.head(5)

           symbol                  sector     score
date
2004-02-11     SU         Energy Minerals  0.953727
2004-02-11    GGG  Producer Manufacturing  0.952753
2004-02-11    WGR         Energy Minerals  0.947634
2004-02-11    CWT               Utilities  0.934181
2004-02-11    BLL      Process Industries  0.922862

In [8]:
print('Shape of raw dataset: {}'.format(df.shape))

Shape of raw dataset: (37360, 3)

In [25]:
print('Number of unique dates: {}'.format(df.index.nunique()))

Number of unique dates: 467

In [20]:
# sprawdzenie czy występują braki danych
df.isnull().sum()

symbol    0
sector    0
score     0
dtype: int64

In [21]:
# sprawdzenie czy występują duplikaty
df.duplicated().sum()

0

In [22]:
# sprawdzenie typów danych
df.dtypes

symbol     object
sector     object
score     float64
dtype: object

In [24]:
df.symbol.unique()

array(['SU', 'GGG', 'WGR', ..., 'DELL', 'BOOT', 'AGCO'], dtype=object)

In [26]:
print('Number of unique symbols: {}'.format(df.symbol.nunique()))

Number of unique symbols: 1834

In [27]:
df.sector.unique()

array(['Energy Minerals', 'Producer Manufacturing', 'Utilities',
       'Process Industries', 'Consumer Services', 'Transportation',
       'Retail Trade', 'Finance', 'Health Technology', 'Miscellaneous',
       'Non-Energy Minerals', 'Distribution Services',
       'Consumer Non-Durables', 'Commercial Services',
       'Technology Services', 'Consumer Durables', 'Health Services',
       'Electronic Technology', 'Industrial Services', 'Communications'],
      dtype=object)

In [28]:
df.score.unique()

array([0.95372705, 0.9527531 , 0.94763414, ..., 0.69795422, 0.69774066,
       0.69564356])

In [29]:
# usuniecie zbednej czesci w kolumnie symbol
df['symbol'] = df['symbol'].str.replace(".", " ")
df['symbol'] = df['symbol'].str.split(' ')

xyz = []
for x in df["symbol"].to_numpy():
  xyz.append(x[0])
df["symbol"] = xyz

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

### Pobieranie danych z Yahoo

In [30]:
df2 = df.sort_values(["symbol", "date"])

In [32]:
tickers = df2.symbol.unique()
list_tickers = tickers.tolist()
Symbol = yf.Tickers(list_tickers)

In [33]:
data = yf.download(list_tickers, start='2004-02-10', end='2022-02-10', interval="1d")['Close']

[*********************100%***********************]  1804 of 1804 completed

393 Failed downloads:
- ARG: No data found for this date range, symbol may be delisted
- DFODQ: No data found, symbol may be delisted
- POT: No data found for this date range, symbol may be delisted
- AACB: No data found for this date range, symbol may be delisted
- KFN: No data found for this date range, symbol may be delisted
- UTIW: No data found for this date range, symbol may be delisted
- ASNAQ: No data found, symbol may be delisted
- HOFD: No data found, symbol may be delisted
- SIAL: No data found for this date range, symbol may be delisted
- BCR: No data found for this date range, symbol may be delisted
- SPSS: No data found for this date range, symbol may be delisted
- BLKIA: No data found for this date range, symbol may be delisted
- WNR: No data found for this date range, symbol may be delisted
- LNY: No data found for this date range, symbol may be delisted
- BRSS: No data found, symbol may be delisted
- STRZB: No data found for this date range, symbol may be delisted
- ENSI: No data found for this date range, symbol may be delisted
- EQY: No data found for this date range, symbol may be delisted
- RAVN: No data found, symbol may be delisted
- VAR: No data found, symbol may be delisted
- RSCR: No data found for this date range, symbol may be delisted
- DNKN: No data found, symbol may be delisted
- JAH: No data found for this date range, symbol may be delisted
- TXU: No data found for this date range, symbol may be delisted
- BBX: No data found, symbol may be delisted
- PRXL: No data found for this date range, symbol may be delisted
- ADVBQ: No data found for this date range, symbol may be delisted
- OAK: No data found, symbol may be delisted
- RCRC: No data found for this date range, symbol may be delisted
- KEM: No data found, symbol may be delisted
- STB: No data found, symbol may be delisted
- ALXN: No data found, symbol may be delisted
- LAACZ: No data found, symbol may be delisted
- HMA: Data doesn't exist for startDate = 1076371200, endDate = 1644451200
- AQNT: No data found for this date range, symbol may be delisted
- TECD: No data found, symbol may be delisted
- ETFC: No data found, symbol may be delisted
- ASEI: No data found for this date range, symbol may be delisted
- MHM: No data found for this date range, symbol may be delisted
- STRZA: No data found for this date range, symbol may be delisted
- SNDK: No data found for this date range, symbol may be delisted
- TCO: No data found, symbol may be delisted
- LDL: No data found, symbol may be delisted
- OCR: No data found for this date range, symbol may be delisted
- ARD: No data found, symbol may be delisted
- ROGFF: No data found, symbol may be delisted
- ASCA: Data doesn't exist for startDate = 1076371200, endDate = 1644451200
- HMSY: No data found, symbol may be delisted
- ACO: No data found for this date range, symbol may be delisted
- PMZFF: No data found, symbol may be delisted
- EMS: No data found for this date range, symbol may be delisted
- CHG: No data found for this date range, symbol may be delisted
- SRR: No data found for this date range, symbol may be delisted
- SHS: No data found for this date range, symbol may be delisted
- ANN: No data found for this date range, symbol may be delisted
- RSHCQ: No data found for this date range, symbol may be delisted
- PIKE: No data found, symbol may be delisted
- GLYT: No data found for this date range, symbol may be delisted
- WYE: No data found for this date range, symbol may be delisted
- PPS: No data found for this date range, symbol may be delisted
- TLM: No data found for this date range, symbol may be delisted
- NST: No data found for this date range, symbol may be delisted
- LTM: No data found, symbol may be delisted
- MCRL: No data found for this date range, symbol may be delisted
- MTSC: No data found, symbol may be delisted
- TQNT: No data found for this date range, symbol may be delisted
- ITC: No data found for this date range, symbol may be delisted
- SIRO: No data found for this date range, symbol may be delisted
- BF: No data found for this date range, symbol may be delisted
- IWOV: No data found for this date range, symbol may be delisted
- BN: No data found for this date range, symbol may be delisted
- BRK: No data found for this date range, symbol may be delisted
- DRC: No data found for this date range, symbol may be delisted
- HUSKF: No data found, symbol may be delisted
- GRP: No data found for this date range, symbol may be delisted
- HSNI: No data found for this date range, symbol may be delisted
- TOUSQ: No data found, symbol may be delisted
- TE: No data found for this date range, symbol may be delisted
- HDLM: No data found, symbol may be delisted
- CORE: No data found, symbol may be delisted
- AGN: No data found, symbol may be delisted
- CHKAQ: No data found, symbol may be delisted
- GGP: No data found for this date range, symbol may be delisted
- KOG: No data found for this date range, symbol may be delisted
- ARRO: No data found for this date range, symbol may be delisted
- PGL: No data found for this date range, symbol may be delisted
- RTI: No data found for this date range, symbol may be delisted
- DTV: No data found, symbol may be delisted
- RAI: No data found for this date range, symbol may be delisted
- VLTR: No data found for this date range, symbol may be delisted
- BNI: No data found for this date range, symbol may be delisted
- HNH: No data found for this date range, symbol may be delisted
- BGGSQ: No data found, symbol may be delisted
- LCAV: No data found for this date range, symbol may be delisted
- BEZ: No data found for this date range, symbol may be delisted
- BLC: No data found for this date range, symbol may be delisted
- QCOR: No data found for this date range, symbol may be delisted
- BYI: No data found for this date range, symbol may be delisted
- ELNK: No data found for this date range, symbol may be delisted
- HSH: No data found for this date range, symbol may be delisted
- UNS: No data found for this date range, symbol may be delisted
- ISIL: No data found for this date range, symbol may be delisted
- ORB: No data found for this date range, symbol may be delisted
- LO: No data found for this date range, symbol may be delisted
- ARTI: No data found for this date range, symbol may be delisted
- PGN: No data found for this date range, symbol may be delisted
- MHS: No data found for this date range, symbol may be delisted
- LGF: No data found for this date range, symbol may be delisted
- DUNDF: No data found, symbol may be delisted
- SPLS: No data found for this date range, symbol may be delisted
- AIRM: No data found for this date range, symbol may be delisted
- PCZ: No data found for this date range, symbol may be delisted
- NEWCQ: No data found, symbol may be delisted
- AMMD: No data found for this date range, symbol may be delisted
- NAFC: No data found for this date range, symbol may be delisted
- GXDX: No data found for this date range, symbol may be delisted
- AZR: No data found for this date range, symbol may be delisted
- HUG: No data found for this date range, symbol may be delisted
- LDR: No data found for this date range, symbol may be delisted
- NDN: No data found for this date range, symbol may be delisted
- ABI: No data found for this date range, symbol may be delisted
- CTX: No data found for this date range, symbol may be delisted
- CHSI: No data found for this date range, symbol may be delisted
- RTEC: No data found, symbol may be delisted
- WGR: No data found for this date range, symbol may be delisted
- FRX: No data found, symbol may be delisted
- IM: No data found for this date range, symbol may be delisted
- GR: No data found for this date range, symbol may be delisted
- CLC: No data found for this date range, symbol may be delisted
- HITK: No data found for this date range, symbol may be delisted
- JAS: No data found for this date range, symbol may be delisted
- VMED: No data found for this date range, symbol may be delisted
- DLM: No data found for this date range, symbol may be delisted
- CLGX: No data found, symbol may be delisted
- EFXFF: No data found, symbol may be delisted
- EGOV: No data found, symbol may be delisted
- TIVO: No data found, symbol may be delisted
- ARJ: No data found for this date range, symbol may be delisted
- KTO: No data found for this date range, symbol may be delisted
- PPDI: No data found for this date range, symbol may be delisted
- MATK: No data found for this date range, symbol may be delisted
- ANCUF: No data found, symbol may be delisted
- GISX: No data found for this date range, symbol may be delisted
- MIK: No data found, symbol may be delisted
- BEC: No data found for this date range, symbol may be delisted
- THX: No data found for this date range, symbol may be delisted
- TCP: No data found, symbol may be delisted
- CY: No data found, symbol may be delisted
- CKR: No data found for this date range, symbol may be delisted
- ISCA: No data found, symbol may be delisted
- CEC: No data found for this date range, symbol may be delisted
- FTO: No data found for this date range, symbol may be delisted
- BGPIQ: No data found, symbol may be delisted
- KKD: No data found for this date range, symbol may be delisted
- HET: No data found for this date range, symbol may be delisted
- TIN: No data found for this date range, symbol may be delisted
- GYMB: No data found for this date range, symbol may be delisted
- LEARQ: No data found, symbol may be delisted
- MAUXF: No data found for this date range, symbol may be delisted
- HSP: No data found for this date range, symbol may be delisted
- AYR: No data found, symbol may be delisted
- CLE: No data found for this date range, symbol may be delisted
- EPE: No data found, symbol may be delisted
- PNY: No data found for this date range, symbol may be delisted
- HF: No data found, symbol may be delisted
- PLMD: No data found for this date range, symbol may be delisted
- MLS: No data found for this date range, symbol may be delisted
- AYE: No data found for this date range, symbol may be delisted
- CBST: No data found for this date range, symbol may be delisted
- COCOQ: No data found, symbol may be delisted
- LXK: No data found for this date range, symbol may be delisted
- TFCFA: No data found, symbol may be delisted
- ALSK: No data found, symbol may be delisted
- KCI: No data found for this date range, symbol may be delisted
- JOSB: No data found for this date range, symbol may be delisted
- PXP: No data found for this date range, symbol may be delisted
- HUB: No data found for this date range, symbol may be delisted
- BJS: No data found for this date range, symbol may be delisted
- PVAHQ: No data found for this date range, symbol may be delisted
- PIRRQ: No data found, symbol may be delisted
- PIXR: No data found for this date range, symbol may be delisted
- CUB: No data found, symbol may be delisted
- TRK: No data found, symbol may be delisted
- CDX: Data doesn't exist for startDate = 1076371200, endDate = 1644451200
- FLI: No data found for this date range, symbol may be delisted
- KSWS: No data found for this date range, symbol may be delisted
- CEPH: No data found for this date range, symbol may be delisted
- HCR: No data found, symbol may be delisted
- SCLN: No data found for this date range, symbol may be delisted
- CHTT: No data found for this date range, symbol may be delisted
- PDE: No data found for this date range, symbol may be delisted
- STU: No data found for this date range, symbol may be delisted
- BOBE: No data found for this date range, symbol may be delisted
- MEDQ: No data found for this date range, symbol may be delisted
- MRX: No data found for this date range, symbol may be delisted
- CNL: No data found for this date range, symbol may be delisted
- MCF: No data found, symbol may be delisted
- ARDNA: No data found for this date range, symbol may be delisted
- BDG: Data doesn't exist for startDate = 1076371200, endDate = 1644451200
- ROH: No data found for this date range, symbol may be delisted
- TNB: No data found for this date range, symbol may be delisted
- CMCSK: No data found for this date range, symbol may be delisted
- SAPE: No data found for this date range, symbol may be delisted
- SYKE: No data found, symbol may be delisted
- DNEX: No data found for this date range, symbol may be delisted
- HAR: No data found for this date range, symbol may be delisted
- AIPC: No data found, symbol may be delisted
- DMND: No data found for this date range, symbol may be delisted
- PALDF: No data found, symbol may be delisted
- LM: No data found, symbol may be delisted
- KWKAQ: No data found for this date range, symbol may be delisted
- CGX: No data found for this date range, symbol may be delisted
- ZLC: No data found for this date range, symbol may be delisted
- IDC: No data found for this date range, symbol may be delisted
- DFT: No data found for this date range, symbol may be delisted
- PETM: No data found for this date range, symbol may be delisted
- CYSVF: No data found, symbol may be delisted
- AGU: No data found for this date range, symbol may be delisted
- OVTI: No data found for this date range, symbol may be delisted
- HW: No data found for this date range, symbol may be delisted
- ZQKSQ: No data found for this date range, symbol may be delisted
- PNRA: No data found for this date range, symbol may be delisted
- EPHC: No data found for this date range, symbol may be delisted
- VPHM: No data found for this date range, symbol may be delisted
- ODSY: No data found for this date range, symbol may be delisted
- MXIM: No data found, symbol may be delisted
- BPL: No data found, symbol may be delisted
- QLGC: No data found for this date range, symbol may be delisted
- DPL: No data found for this date range, symbol may be delisted
- GRA: No data found, symbol may be delisted
- AXE: No data found, symbol may be delisted
- CNXM: No data found, symbol may be delisted
- RAH: No data found for this date range, symbol may be delisted
- CTRX: No data found for this date range, symbol may be delisted
- BDK: No data found for this date range, symbol may be delisted
- DLLR: No data found for this date range, symbol may be delisted
- HRC: No data found, symbol may be delisted
- CEB: No data found for this date range, symbol may be delisted
- CMO: No data found, symbol may be delisted
- MNIQQ: No data found, symbol may be delisted
- CBM: No data found, symbol may be delisted
- OKS: No data found for this date range, symbol may be delisted
- LAF: No data found for this date range, symbol may be delisted
- WLP: No data found for this date range, symbol may be delisted
- BRCM: No data found for this date range, symbol may be delisted
- HNR: No data found for this date range, symbol may be delisted
- CNVR: No data found for this date range, symbol may be delisted
- APU: No data found, symbol may be delisted
- LUFK: No data found for this date range, symbol may be delisted
- MFE: No data found for this date range, symbol may be delisted
- BKC: No data found for this date range, symbol may be delisted
- IQNT: No data found for this date range, symbol may be delisted
- TFCF: No data found, symbol may be delisted
- POM: No data found for this date range, symbol may be delisted
- ASFI: No data found, symbol may be delisted
- CRRC: No data found for this date range, symbol may be delisted
- CLP: No data found for this date range, symbol may be delisted
- GVHR: No data found for this date range, symbol may be delisted
- Q: No data found for this date range, symbol may be delisted
- LGCYQ: No data found, symbol may be delisted
- BEAV: No data found for this date range, symbol may be delisted
- TIBX: No data found for this date range, symbol may be delisted
- BTUUQ: No data found for this date range, symbol may be delisted
- CMX: No data found for this date range, symbol may be delisted
- VCI: No data found for this date range, symbol may be delisted
- WFSI: No data found for this date range, symbol may be delisted
- VIAB: No data found, symbol may be delisted
- NZ: No data found for this date range, symbol may be delisted
- NXG: No data found for this date range, symbol may be delisted
- MNT: No data found for this date range, symbol may be delisted
- CVA: No data found, symbol may be delisted
- GMCR: No data found for this date range, symbol may be delisted
- ANST: No data found for this date range, symbol may be delisted
- STMP: No data found, symbol may be delisted
- JH: No data found for this date range, symbol may be delisted
- GTK: No data found for this date range, symbol may be delisted
- LDG: No data found for this date range, symbol may be delisted
- ANH: No data found, symbol may be delisted
- OMM: No data found for this date range, symbol may be delisted
- INCLF: No data found, symbol may be delisted
- NVLS: No data found for this date range, symbol may be delisted
- PRX: No data found for this date range, symbol may be delisted
- RSE: No data found for this date range, symbol may be delisted
- JW: No data found, symbol may be delisted
- HPY: No data found for this date range, symbol may be delisted
- ACAS: No data found for this date range, symbol may be delisted
- GYI: No data found for this date range, symbol may be delisted
- EV: No data found, symbol may be delisted
- HTS: No data found for this date range, symbol may be delisted
- WRI: No data found, symbol may be delisted
- MWP: No data found for this date range, symbol may be delisted
- LBYYQ: No data found, symbol may be delisted
- EAS: No data found for this date range, symbol may be delisted
- WLSM: No data found, symbol may be delisted
- TSS: No data found, symbol may be delisted
- CMD: No data found, symbol may be delisted
- GTM: No data found for this date range, symbol may be delisted
- GTRC: No data found for this date range, symbol may be delisted
- DTGF: No data found, symbol may be delisted
- CTWS: No data found, symbol may be delisted
- HNZ: No data found, symbol may be delisted
- TIF: No data found, symbol may be delisted
- LABL: No data found, symbol may be delisted
- THI: No data found for this date range, symbol may be delisted
- PCP: No data found for this date range, symbol may be delisted
- CPN: No data found, symbol may be delisted
- MDP: No data found for this date range, symbol may be delisted
- BPO: No data found for this date range, symbol may be delisted
- WDR: No data found, symbol may be delisted
- MRD: No data found for this date range, symbol may be delisted
- CKH: No data found, symbol may be delisted
- MPS: No data found for this date range, symbol may be delisted
- TLRDQ: No data found, symbol may be delisted
- COGN: No data found for this date range, symbol may be delisted
- BXG: No data found, symbol may be delisted
- MOG: No data found for this date range, symbol may be delisted
- PPP: No data found for this date range, symbol may be delisted
- NTLS: No data found for this date range, symbol may be delisted
- NBL: No data found, symbol may be delisted
- GAS: No data found for this date range, symbol may be delisted
- TLP: No data found, symbol may be delisted
- STR: No data found for this date range, symbol may be delisted
- MV: No data found for this date range, symbol may be delisted
- MCRS: No data found for this date range, symbol may be delisted
- KDN: No data found for this date range, symbol may be delisted
- GCGMF: No data found, symbol may be delisted
- STJ: No data found for this date range, symbol may be delisted
- FNSR: No data found, symbol may be delisted
- AEA: No data found for this date range, symbol may be delisted
- BRL: No data found for this date range, symbol may be delisted
- QSFT: No data found for this date range, symbol may be delisted
- FEIC: No data found for this date range, symbol may be delisted
- WFM: No data found for this date range, symbol may be delisted
- UFS: No data found, symbol may be delisted

In [34]:
data.head(5)

,A,AACB,AAIC,AAP,AAPL,AAT,AAWW,ABBV,ABC,ABCD,...,XTO,XYL,YELL,YLWDF,YUM,ZBRA,ZD,ZLC,ZQKSQ,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2004-02-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-02-10 00:00:00,26.731045,NaN,500.600006,27.280001,0.410357,NaN,NaN,NaN,14.1675,NaN,...,NaN,NaN,239025.0,NaN,11.926671,43.740002,9.769565,NaN,NaN,NaN
2004-02-11 00:00:00,26.752504,NaN,514.799988,27.753332,0.425000,NaN,NaN,NaN,14.2500,NaN,...,NaN,NaN,244200.0,NaN,12.117182,47.119999,10.500000,NaN,NaN,NaN
2004-02-12 00:00:00,26.409157,NaN,515.400024,28.046667,0.423750,NaN,NaN,NaN,14.1450,NaN,...,NaN,NaN,247500.0,NaN,12.677930,46.866669,10.326087,NaN,NaN,NaN
2004-02-13 00:00:00,26.523605,NaN,512.000000,27.933332,0.410714,NaN,NaN,NaN,14.1525,NaN,...,NaN,NaN,245775.0,NaN,12.692308,46.453335,10.186957,NaN,NaN,NaN

In [35]:
print('Shape of dataset from Yahoo: {}'.format(data.shape))

Shape of dataset from Yahoo: (4551, 1804)

In [88]:
# puste kolumny
columns_nan = data.columns[data.isna().all()].tolist()
len(columns_nan)

In [36]:
data = data.dropna(how='any', axis=1, thresh=1)

In [38]:
print('Shape of dataset from Yahoo without empty columns: {}'.format(data.shape))

Shape of dataset from Yahoo without empty columns: (4551, 1411)

In [40]:
data2 = pd.melt(data, id_vars='date', value_vars=data.columns.to_list())
data2

              date variable       value
0       2004-02-09        A         NaN
1       2004-02-10        A   26.731045
2       2004-02-11        A   26.752504
3       2004-02-12        A   26.409157
4       2004-02-13        A   26.523605
...            ...      ...         ...
6421456 2022-02-03      ZTS  200.919998
6421457 2022-02-04      ZTS  199.539993
6421458 2022-02-07      ZTS  200.320007
6421459 2022-02-08      ZTS  201.300003
6421460 2022-02-09      ZTS  202.289993

[6421461 rows x 3 columns]

In [45]:
#usuwanie pustych wartosci
data3 = data2.dropna()
#utworzenie pustej kolumny
data3["stopa_zwrotu"] = np.nan

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [47]:
df_rr = pd.DataFrame(columns=['date', 'variable', 'value','stopa_zwrotu'])

In [48]:
# 47 minut
# stopa zwrotu dla danych dziennych
symbols = data2["variable"].unique().tolist()

for sym in symbols:

    data_symbol = data3.loc[data3["variable"] == sym]

    for i in range(0, len(data_symbol)):
        if i+1<len(data_symbol):
            data_symbol["stopa_zwrotu"].iloc[i+1] = (data_symbol["value"].iloc[i+1]/data_symbol["value"].iloc[i])-1 
    
    df_rr = pd.concat([df_rr, data_symbol])

df_rr

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: RuntimeWarning: divide by zero encountered in double_scalars
  if __name__ == '__main__':

              date variable       value  stopa_zwrotu
1       2004-02-10        A   26.731045           NaN
2       2004-02-11        A   26.752504      0.000803
3       2004-02-12        A   26.409157     -0.012834
4       2004-02-13        A   26.523605      0.004334
5       2004-02-17        A   26.816881      0.011057
...            ...      ...         ...           ...
6421456 2022-02-03      ZTS  200.919998     -0.006183
6421457 2022-02-04      ZTS  199.539993     -0.006868
6421458 2022-02-07      ZTS  200.320007      0.003909
6421459 2022-02-08      ZTS  201.300003      0.004892
6421460 2022-02-09      ZTS  202.289993      0.004918

[5525827 rows x 4 columns]

In [57]:
# funkcja działa
df_rr.loc[df_rr['variable'] == "SU"]

              date variable      value  stopa_zwrotu
5429344 2004-02-10       SU  13.175000           NaN
5429345 2004-02-11       SU  13.285000      0.008349
5429346 2004-02-12       SU  12.960000     -0.024464
5429347 2004-02-13       SU  12.830000     -0.010031
5429348 2004-02-17       SU  12.985000      0.012081
...            ...      ...        ...           ...
5433889 2022-02-03       SU  29.219999     -0.038816
5433890 2022-02-04       SU  28.719999     -0.017112
5433891 2022-02-07       SU  28.990000      0.009401
5433892 2022-02-08       SU  28.469999     -0.017937
5433893 2022-02-09       SU  28.889999      0.014752

[4533 rows x 4 columns]

In [71]:
data4 = pd.merge(df, df_rr,  how='left', left_on=['date','symbol'], right_on = ['date','variable'])

In [72]:
data4.head(5)

,date,symbol,sector,score,variable,value,stopa_zwrotu
0,2004-02-11,SU,Energy Minerals,0.953727,SU,13.285000,0.008349
1,2004-02-11,GGG,Producer Manufacturing,0.952753,GGG,9.388889,0.011734
2,2004-02-11,WGR,Energy Minerals,0.947634,NaN,NaN,NaN
3,2004-02-11,CWT,Utilities,0.934181,CWT,14.720000,0.004778
4,2004-02-11,BLL,Process Industries,0.922862,BLL,8.095000,0.002787

In [78]:
dataset = data4.dropna(axis = 0, how ='any')

In [74]:
dataset.head(5)

,date,symbol,sector,score,variable,value,stopa_zwrotu
0,2004-02-11,SU,Energy Minerals,0.953727,SU,13.285000,0.008349
1,2004-02-11,GGG,Producer Manufacturing,0.952753,GGG,9.388889,0.011734
3,2004-02-11,CWT,Utilities,0.934181,CWT,14.720000,0.004778
4,2004-02-11,BLL,Process Industries,0.922862,BLL,8.095000,0.002787
5,2004-02-11,APA,Energy Minerals,0.912117,APA,39.830002,0.005808

In [80]:
dataset = dataset.drop('variable', axis=1)

In [81]:
dataset = dataset.rename(columns={'value': 'close', 'stopa_zwrotu': 'return_rate'})

In [82]:
print("Old data frame length:", len(data4), "\nNew data frame length:", 
       len(dataset), "\nNumber of rows with at least 1 NA value: ",
       (len(data4)-len(dataset)))

Old data frame length: 37360
New data frame length: 30508
Number of rows with at least 1 NA value:  6852

In [84]:
dataset.head(5)

        date symbol                  sector     score      close  return_rate
0 2004-02-11     SU         Energy Minerals  0.953727  13.285000     0.008349
1 2004-02-11    GGG  Producer Manufacturing  0.952753   9.388889     0.011734
3 2004-02-11    CWT               Utilities  0.934181  14.720000     0.004778
4 2004-02-11    BLL      Process Industries  0.922862   8.095000     0.002787
5 2004-02-11    APA         Energy Minerals  0.912117  39.830002     0.005808

In [86]:
from google.colab import files

dataset.to_csv('CONVICTIONSUMMARY.csv', index=False) 
files.download('CONVICTIONSUMMARY.csv')